<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>O2 Phones</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css" />
    <link rel="stylesheet" href="o2.css" type="text/css" media="screen"/>
    <link rel="apple-touch-icon" href="img/logo.png" /> 
</head>
<body>
    <div id="splash" data-role="page" class="page">
        <div data-role="content">
            <h1 class="header">O<sub>2</sub></h1>
            <ul data-role="listview" class="hidden" data-inset="true">
                <li><a href="#payg-phones">Pay as you go Phones</a></li>
                <li><a href="#accessories">Accessories</a></li>
            </ul>
            <noscript><p>This application requires javascript enabled.</p></noscript>
        </div>
    </div>
    <div id="payg-phones" data-role="page">
        <div data-role="header" data-theme="b">
            <h1 class="header">O<sub>2</sub> Pay as you go Phones</h1>
        </div>
        <div data-role="content" data-theme="d">
            <ul data-role="listview" data-filter="true"></ul>
        </div>
    </div>
    <div id="phone" data-role="page" class="page">
        <div data-role="content">
        </div>
    </div>
    <div id="accessories" data-role="page">
        <div data-role="header" data-theme="b">
            <h1 class="header">O<sub>2</sub> Accessories</h1>
        </div>
        <div data-role="content" data-theme="d">
            <ul data-role="listview" data-filter="true"></ul>
        </div>
    </div>
    <div id="accessory" data-role="page" class="page" data-theme="d">
        <div data-role="header">
            <h1 class="header">O<sub>2</sub> Accessory</h1>
        </div>
    </div>
    <script src="o2.js"></script>
    <script src="bridge.js"></script>
</body>
</html>
